@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;800&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  color-scheme: only light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --font-inter: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --font-poppins: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  --color-neutral-50: #09090a;
  --color-neutral-100: #121314;
  --color-neutral-200: #1c1c1e;
  --color-neutral-300: #252628;
  --color-neutral-400: #2e2f32;
  --color-neutral-500: #4d5056;
  --color-neutral-600: #93969d;
  --color-neutral-700: #b8bbc3;
  --color-neutral-800: #d9dbdf;
  --color-neutral-900: #f5f6f8;
  --color-neutral-950: #fff;
  --color-primary-50: #f2f7ff;
  --color-primary-100: #bfd9ff;
  --color-primary-200: #91beff;
  --color-primary-300: #61a1ff;
  --color-primary-400: #3085ff;
  --color-primary-500: #0068ff;
  --color-primary-600: #005ce2;
  --color-primary-700: #0042a1;
  --color-primary-800: #002a66;
  --color-primary-900: #001533;
  --color-primary-950: #001129;
  --color-red: #dc1f4e;
  --color-green: #0db787;

  /* breakpoints */
  --breakpoint-xs: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  /* font-size */
  --text-6.3xl: 4rem; /* 64px */

  /* line-height */
  --leading-tight: 1.14286;
  --leading-snug: 1.2;
  --leading-compact: 1.25;
  --leading-base: 1.3333;
  --leading-relaxed: 1.4;
  --leading-normal: 1.5;
  --leading-loose: 1.66;
  --leading-extra-loose: 1.6667;

  /* box-shadow */
  --shadow-card: 0 12px 36px 0 rgba(132, 146, 167, 0.16);
  --shadow-card-1: 0 10px 40px 0 rgba(0, 0, 0, 0.15);
}

@layer base {
  body {
    @apply bg-neutral-950 font-inter text-base/normal font-normal text-neutral-50;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-0.5 xs:max-w-360 xs:px-2 lg:px-30;
  }

  .section {
    @apply py-8;
  }

  .page-title {
    @apply text-6.3xl/snug font-extrabold;
  }

  .section-title {
    @apply text-5xl/base font-extrabold;
  }
}
